<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de usuario</title>
</head>
<body>
    <h1>Cadastro de Usuario</h1>

    {% if erro %}
        <p style="color:red;">{{ erro }}</p>
    {% endif %}

    <form method="post" action="/usuarios/formulario">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" value="{{ nome or '' }}" required><br><br>

        <label for="preco">Email:</label><br>
        <input type="email" id="email" name="email"  value="{{ email or '' }}" required><br><br>

        <label for="senha">senha:</label><br>
        <input type="number" id="senha" name="senha" value="{{ senha or '' }}" required><br><br>

        <button type="submit">Cadastrar usuario</button>
    </form>

    <br>
    <a href="/usuarios/pagina">Ver todos os usuarios</a>
    <a href="home.html">voltar a tela de inicio</a>
</body>
</html>

